.btn-container {
  /* Add your styles here */
  margin-top: 10px;
  margin-bottom: 10px
}

.small,
small {
  font-size: 13px;
}

.form-select,
.form-control {
  height: 25px; 


}
.form-select {

  padding: 0 !important;
  font-size: 12px !important;
}
.table {
  width: fit-content;
}

.table th,
.table td {
  text-align: center;
  padding: 10px;
  border: none;

}

.table th {
  background:#e9ecef;
  color: #16191b;
}

.besoin td { font-size: smaller;

}
.besoin  tr th{
  background: #e9ecef;
  color: #16191b;
}

option {
  font-size: 10px;
  

}

button,
input,
optgroup,
select,
textarea {
  font-family: normal;
}
.mt-1{
  margin-top: 1px;
}